body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.redDigit {
  color: red;
}
